on post-fs-data
    # GPS
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value

    chown root system /sys/class/sec/sensorhub/mcu_power
    chmod 0664 /sys/class/sec/sensorhub/mcu_power

    chmod 0664 /dev/ttyBCM
    chown gps system /dev/ttyBCM
    chmod 0664 /dev/bbd_control
    chown gps system /dev/bbd_control
    chmod 0664 /dev/bbd_patch
    chown gps system /dev/bbd_patch
    chmod 0664 /dev/bbd_sensor
    chown gps system /dev/bbd_sensor
    chmod 0664 /dev/bbd_urgent_patch
    chown gps system /dev/bbd_urgent_patch

    # Directory for GPS
    mkdir /data/vendor 0771 system system
    chown system system /data/vendor
    mkdir /data/vendor/gps 0771 system system
    chown system system /data/vendor/gps

    rm /data/vendor/gps/gps_started
    rm /data/vendor/gps/glonass_started
    rm /data/vendor/gps/beidou_started
    rm /data/vendor/gps/smd_started
    rm /data/vendor/gps/sv_cno.info

    # SensorHub Debugging File Node
    chown gps system /sys/devices/platform/bbd.0/BBD
    chown gps system /sys/devices/platform/bbd.0/DEV
    chown gps system /sys/devices/platform/bbd.0/ESW
    chown gps system /sys/devices/platform/bbd.0/baud
    chown gps system /sys/devices/platform/bbd.0/debug
    chown gps system /sys/devices/platform/bbd.0/buf
    chown gps system /sys/devices/platform/bbd.0/pl
    chown gps system /sys/devices/platform/bbd.0/passthru
    chown gps system /sys/devices/platform/bbd.0/ssi_xfer
    chown gps system /sys/devices/platform/bbd.0/ssi_count
    chown gps system /sys/devices/platform/bbd.0/ssi_trace
    chown gps system /sys/devices/platform/bbd.0/shmd

    # Sensorhub Urgent Firmware
    chmod 0770 /spu/sensorhub
    chmod 0660 /spu/sensorhub/urgent.patch

# SensorHub (Location Hub)
service lhd /vendor/bin/hw/lhd /vendor/etc/sensor/lhd.conf
    class main
    user gps
    group system inet net_raw wakelock
    ioprio be 0

service gpsd /vendor/bin/hw/gpsd -c /vendor/etc/gnss/gps.xml
    class main
    user gps
    group system gps radio inet wakelock sdcard_rw net_raw
    ioprio be 0

service gnss_service /vendor/bin/hw/android.hardware.gnss@2.1-service
    class hal
    user gps
    group system gps radio
    ioprio be 0
    priority -1
